<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="Benjamin142857">
    <meta name="keywords" content="None">
    <meta name="description" content="Just a test">
    <link rel="icon" href="http://www.benjamin-stella.cn/static/other/favicon.ico" type="image/x-icon"/>
    <title>Title</title>

    <link rel="stylesheet" href="../static/vendor/normalize.css">
    <link rel="stylesheet" href="../static/vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
</head>


<body>
    <h1>无访问权限</h1>


<script src='../static/vendor/jquery-3.4.0.min.js'></script>
<script src='../static/vendor/bootstrap-3.3.7/js/bootstrap.min.js'></script>
</body>

</html>